$primary: #2196f3;
$navbar-light-brand-color: $primary;
$navbar-brand-padding-y: 0px;
$navbar-padding-y: 0px;
$navbar-nav-link-padding-x: 0px;
$navbar-light-brand-hover-color: $primary;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-brand-font-size: 15px;
$carousel-caption-width: 100%;
$card-cap-padding-y: 0px;